.form-field {
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.remove-button {
    margin-top: 10px;
    text-align: right;
}

.remove-button button {
    background-color: #f44336;
    color: white;
}

::ng-deep .mat-radio-label {
    margin-right: 20px !important;
}

mat-form-field {
    width: 100%;
}

@media (max-width: 600px) {
    mat-form-field {
        width: 100%;
    }
}